.bg {
  /* The image used */
  background-image: url("/assets/img/hh.jpeg");

  /* Full height */
  height: 1000px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar {
  min-height: 80px;
}
.nav a{
  color: white !important;
  font-size: 2.8em !important;
  }
.nav li{
  padding-right:5px;
 }
.carousel-item {
  height: 85vh;
  min-height: 500px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.tour-wrap {
  width: 100%;
  float: left;
  display: block;
  padding: 0;
  margin: 0; }
  .tour-wrap .tour-entry {
    width: 25%;
    float: left;
    position: relative;
    height: 250px;
    z-index: 0;
    padding: 0;
    margin: 0; }
    @media screen and (max-width: 768px) {
      .tour-wrap .tour-entry {
        width: 50%; } }
    @media screen and (max-width: 480px) {
      .tour-wrap .tour-entry {
        width: 100%; } }
    .tour-wrap .tour-entry .tour-img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 250px;
      display: block;
      z-index: 1;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      @media screen and (max-width: 768px) {
        .tour-wrap .tour-entry .tour-img {
          -webkit-box-shadow: inset 0px -195px 142px -79px rgba(0, 0, 0, 0.49);
          -moz-box-shadow: inset 0px -195px 142px -79px rgba(0, 0, 0, 0.49);
          -ms-box-shadow: inset 0px -195px 142px -79px rgba(0, 0, 0, 0.49);
          -o-box-shadow: inset 0px -195px 142px -79px rgba(0, 0, 0, 0.49);
          box-shadow: inset 0px -195px 142px -79px rgba(0, 0, 0, 0.49); } }
    .tour-wrap .tour-entry .desc {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
      padding: 15px; }
      .tour-wrap .tour-entry .desc h2 {
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 10px; }
      .tour-wrap .tour-entry .desc .city {
        display: block;
        color: #b3b3b3;
        margin-bottom: 5px; }
      .tour-wrap .tour-entry .desc .price {
        color: #000;
        font-size: 20px; }
      .tour-wrap .tour-entry .desc .star {
        margin-bottom: 0;
        font-size: 12px;
        color: #b3b3b3; }
        .tour-wrap .tour-entry .desc .star span i {
          color: #FFDD00; }
      @media screen and (max-width: 768px) {
        .tour-wrap .tour-entry .desc {
          z-index: 2; }
          .tour-wrap .tour-entry .desc h2 {
            color: #fff; }
          .tour-wrap .tour-entry .desc .city, .tour-wrap .tour-entry .desc .star {
            color: #e6e6e6; }
          .tour-wrap .tour-entry .desc .price {
            color: #fff;
            background: #00BBF0;
            padding: 4px 7px; } }
    .tour-wrap .tour-entry:hover .tour-img {
      top: -55%; }
      @media screen and (max-width: 768px) {
        .tour-wrap .tour-entry:hover .tour-img {
          top: 0; } }
          #colorlib-hotel .owl-carousel {
            z-index: 0; }

            .f-tour-img,
            .room-img,
            .tour-img,
            .intro-img,
            .amenities-img,
            .blog-img,
            .hotel-img {
              background-size: cover;
              background-position: center center;
              background-repeat: no-repeat;
              position: relative; }
            .site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h5
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
